<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.logistic.mapper.UserMapper">

    <select id="findAll" resultType="com.logistic.pojo.User">
        select * from user_p
    </select>
    <insert id="saveUser">
    	insert into user_p 
    		(user_id,tel,username,password,email,state) 
    			values 
    				(#{userId},#{tel},#{userName},#{password},#{email},#{state})
    </insert>
    <update id="updateUserState" >
    	update user_p set state=#{state} where user_id=#{userId}
    </update>
    
    
     <update id="updateUserActivateState" >
    	update user_activate set state=#{state} where user_id=#{userId}
    </update>
    
    <select id="finAging" resultType="com.logistic.pojo.UserAging" >
    	select * from user_activate where user_id=#{userId}
    </select>
    
     <select id="findUser" resultType="com.logistic.pojo.User">
        select * from user_p  where user_id=#{userId}
    </select>
     <select id="findUserByUserName" resultType="com.logistic.pojo.User">
        select * from user_p  where username=#{username}
    </select>
     <select id="Login" resultType="com.logistic.pojo.User">
        select * from user_p  where username=#{userName} and password=#{password}
    </select>
</mapper>